Source: calcutron
Section: Game
Priority: extra
Maintainer: Team-IVS21
Build-Depends: debhelper-compat (= 12), python3-pyqt5
Standards-Version: 4.4.1
Homepage: https://github.com/computercamplove/ivs-project2
Package: calcutron
Architecture: any
Depends: ${misc:Depends}, python3-pyqt5
Description: Calcutron application
 Calculator with basic functions and operations.
